section {
  background: $background;
  width: 100%;
  min-height: 100vh; // TODO remove this and use padding
  position: relative;
  padding: 7em 0 0;

  &#demands {
    border-bottom: 1px solid rgba($red, 0.5);
  }

  &.inverse {
    background: $foreground;
    color: rgba($background, 1);
  }

  &#demands-2 {
    padding: 0;
  }
}

.container {
  max-width: $max-container-width;
}

p {
  padding: 0;
  margin-bottom: 0.5em; // TODO: revisit
}

.sticky {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 3em;
}

.sticky-demo {
  position: fixed;
  bottom: 1rem;
  background: $red;
  color: $background;
  padding: 0.25em 1em;
  font-family: "AAHA-WEB";
}

//white-bg

h1 {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  // height: 100vh;
  z-index: 1;
  transition: transform $transition-time;
  // mix-blend-mode: multiply;

  &.title-top {
    top: 0.75em;
  }

  &.title-bottom {
    // transform:rotate(180deg);
    color: black;
    position: fixed;
    top: calc(100vh - 1.6em);
  }

  &.fr {
    transform: rotate(180deg);
  }

  &.title-top,
  &.title-bottom {
    position: fixed;
    color: $red;
    // mix-blend-mode: multiply;
    width: 100%;
    z-index: 1;
    text-align: center;
    letter-spacing: 0.05em;
    pointer-events: all;

    a:link {
      text-decoration: none;
    }
  }
}

h3 {}

.title-top.invert,
.title-bottom.invert {
  color: $background !important;
}

.block-container {
  >* {
    display: block;
  }

  padding-bottom: 1em;
}

#lang {
  width: 80px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  bottom: 1em;
  right: 1em;
  transform-origin: 50% 50%;
  transition: all $transition-time;

  div {
    display: inline-block;
    border-radius: 2px;
    transition: all $transition-time;
    padding: 0.2em 0.3em 0;
    color: $red;
    font-family: aaha-web;

    &:hover,
    &.active {
      color: rgba($background, 0.9);
      background: $red;
    }
  }
}

#mb-2-c {
  .rect1 {
    width: 30px;
    top: 0;
    left: 5px;
  }

  .rect2 {
    width: 20px;
    top: 20px;
    left: 10px;
  }

  .rect3 {
    width: 40px;
    top: 40px;
    left: 0;
  }
}

#mb-2-l {
  .rect1 {
    width: 30px;
    top: 0;
    left: 0;
  }

  .rect2 {
    width: 20px;
    top: 20px;
    left: 0;
  }

  .rect3 {
    width: 40px;
    top: 40px;
    left: 0;
  }
}

#menu-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  top: 1em;
  left: 1em;
  transform-origin: 50% 50%;

  .menu-button-square {
    background: $red;
    width: 10px;
    height: 10px;
    position: absolute;
    transform-origin: 50% 50%;
    transition: all $transition-time;

    &.top-left {
      top: 0;
      left: 0;
    }

    &.top-right {
      top: 0;
      right: 0;
    }

    &.bottom-left {
      bottom: 0;
      left: 0;
    }

    &.bottom-right {
      bottom: 0;
      right: 0;
    }

    &.center {
      top: 10px;
      left: 10px;

      opacity: 0;
    }
  }

  &.active .menu-button-square,
  &:hover .menu-button-square {
    opacity: 1;
    transform: rotate(45deg);
  }

  &.active .menu-button-square {
    background: $background;
  }

  &.invert {
    .menu-button-square {
      background: $background;
    }

    &.active .menu-button-square {
      background: $foreground;
    }
  }
}

#menu-fist {
  width: 30px;
  height: 30px;
  display: block;
  opacity: 0;
  cursor: pointer;
  position: fixed;
  z-index: 12;
  padding: 0;
  margin: 0;
  line-height: 0;
  top: 2rem;
  right: 2rem;
  font-size: 4em;
  font-family: "AAHA-WEB";
  fill: rgb(192, 0, 0);

  #top-fist {
    fill: $red;
    transition: fill $transition-time;

    &:hover {
      fill: $foreground;
    }
  }

  &.active {
    &::after {
      position: relative;
      top: -0.2em;
      content: "\d7";
    }

    #top-fist {
      opacity: 0;
    }
  }

  &.active .menu-button-square {
    background: $foreground;
  }

  // TODO: not in use
  &.invert {
    #top-fist {
      fill: $background;
    }

    &.active & #top-fist {
      fill: $foreground;
    }
  }
}

#menu {
  position: fixed;
  z-index: 10;
  background: rgba($red, 0.95);
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity $transition-time;
  padding: 1em 4em 1em;

  &.active {
    opacity: 1;
    user-select: initial;
    pointer-events: initial;
  }

  ul {
    list-style-type: none;
    margin-top: 5em;
    margin-left: 0.5em;
    column-count: 2;

    li {
      font-family: "AAHA-WEB";
      color: $background;
      font-size: 12vh;
      line-height: 0.7;
      text-transform: lowercase;
      padding-bottom: 0.2em;
      cursor: pointer;
      transition: color $transition-time;
      transform: rotate(-10deg);
      transform-origin: 0 50%;

      &:last-child {
        transform: rotate(0deg);
      }

      &::first-letter {
        text-transform: uppercase;
      }

      &:nth-child(9) a::after,
      &:nth-child(7) a::after,
      &:nth-child(4) a::after,
      &:nth-child(1) a::after {
        content: "\0776";
      }

      &:nth-child(8) a::after,
      &:nth-child(6) a::after,
      &:nth-child(2) a::after {
        content: "\0777";
      }

      &:nth-child(3) a::after {
        content: "!";
      }

      &:nth-child(10) a::after,
      &:nth-child(5) a::after {
        content: "\0778";
      }

      a,
      a:link,
      a:visited {
        color: $background;
        text-decoration: none;
        transition: color 0.4s;
      }

      a:hover {
        color: $foreground;
      }
    }
  }

  .menuRight {
    padding: 2em;
  }

  //EMBEDDED VIDEO

  .embedContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.socials {
  font-size: 4em;
  letter-spacing: 0.05em;
  padding-bottom: 0.5em;

  i {
    cursor: pointer;
    transition: color $transition-time;

    &:hover {
      color: $red;
    }
  }

  >a:not(:last-child) {
    padding-right: 5rem;
  }
}

.filter {
  text-align: center;
  font-family: "AAHA-WEB";
  display: inline-block;
  border: 1px solid $red;
  border-radius: 2em;
  background: $red;
  color: white;
  padding-right: 0.5em;
  font-size: 1.75rem;
  margin: 0 0.5em;
  padding-top: 0.5em;

  option {
    font-family: "AAHA-WEB";
  }
}

.slide-fullscreen {
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba($background, 0.9);
  // padding:4vw;

  img {
    width: 100%;
    height: 100%;
    padding-top: 3vw;
    max-width: 94vw;
    max-height: 90vh;
    object-fit: contain;
    mix-blend-mode: normal;
    cursor: zoom-out;
    transition: none;

    &,
    &:hover {
      filter: none;
    }
  }

  .caption {
    padding: 1em;
    text-align: center;
  }

  .close {
    font-family: "AAHA-WEB";
    font-size: 7.5rem;
    color: $red;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    cursor: pointer;
    transition: color 0.4s;

    &:hover {
      color: $foreground;
    }
  }
}

.flickity-viewport {
  overflow: visible;

  .slide {
    border-right: 3px solid rgba($foreground, 0);
    width: 100%;

    .demand-slide {
      width: 100%;
      height: 80vh;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        max-width: 100%;
        max-height: 600px;
        width: auto;
        height: auto;
        opacity: 0.3;
        cursor: zoom-in;
      }
    }

    .caption {
      opacity: 0;
      transition: 0.4s;
    }

    &.is-selected {
      .caption {
        opacity: 1;
      }

      img {
        filter: grayscale(0) contrast(100%);
        opacity: 1;
      }
    }
  }
}

button.flickity-button {
  padding: 0;
  border: 1px solid $red;
  background: none;
  z-index: 10000;

  svg {
    fill: $red;
  }

  &:hover {
    border: 1px solid $red;

    svg {
      fill: $red;
    }
  }
}

.highlighted {
  color: $red;
}

#bottom_fist {
  display: inline-block;
  fill: $white;
  max-width: 200px;
}

ul.actions {
  list-style-type: none;
  padding-top: 1em;

  li {
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
}

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 0;
  table-layout: fixed;

  thead tr td {
    border-top: none !important;
    border-bottom: none;
  }

  tr {
    padding: 0;
    margin: 0;
    visibility: visible;
    transition: height $transition-time;
    min-height: 50px;
    overflow: hidden;

    td {
      padding: 0.25em;
    }

    &.hide {
      height: 0;

      visibility: collapse;
    }

    &:first-child td {
      border-top: 1px solid rgba($foreground, 0.3);
    }

    // &:nth-child(odd) {background: rgba($foreground,0.02)}
    // background:red;

    td {
      margin: 0;
      padding: 0.5em;
      border-bottom: 1px solid rgba($foreground, 0.3);

      &.noborder {
        border-bottom: none;
      }
    }
  }

  &.events {

    td,
    th {
      border: none;
    }

    .borderTop {
      border-top: 1px solid rgba($foreground, 0.5);
    }
  }
}

.thirds {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-column-gap: 1em;

  svg {
    width: 100%;
    height: auto;
  }
}

#contact {
  position: relative;
  padding: 0;

  .row {
    // padding:0 2em ;
    position: absolute;

    top: 50vh;
    transform: translateY(-50%);
  }
}

.partners {
  margin-top: 2em;
  max-width: 40%;

  .footer-logo {
    fill: rgba($foreground, 1);
    width: 100%;
    transition: fill 0.4s;
    height: auto;
    padding-bottom: 2em;

    &:hover {
      fill: $red;
    }

    svg {
      height: auto;
    }

    #logo-cca,
    #logo-uw,
    #logo-sala,
    #logo-raic {
      width: 80%;
    }
  }

  #contact {
    position: relative;

    .row {
      padding: 0 2em;
      position: absolute;
      background: red;
      top: 50vh;
      transform: translateY(-50%);
    }

    h5 {
      color: rgba($background, 1);
    }

    li {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 800px) {
  body {
    font-size: 18px;
  }

  #menu-button {
    top: 0.5em;
    left: 0.5em;
  }

  #menu-fist {
    top: 0.8rem;
    right: 0.5rem;
    width: 35px;
    height: 35px;
  }

  #lang {
    bottom: 0.5em;
    right: -0.75em;
  }

  #contact {
    text-align: center;
    position: relative;

    .socials {
      padding-bottom: 0.5rem;
    }

    .row {
      padding: 0 2em;
      position: absolute;
      top: 50vh;
      transform: translateY(-50%);

      .text-right {
        text-align: center;
        padding-right: 0;
      }
    }
  }

  .manifesto {
    font-size: 1.75em;
    text-align: left;
    position: static;
    transform: translateY(0);

    .intro {
      display: block;
      padding: 0.5em 0.2em;
      color: $red;
      text-align: center;
    }

    .num {
      width: 0.3em;
      text-align: right;
    }

    &.fr {
      font-size: 1.5em;
    }

    h2 {
      text-align: left;
      display: block;
      padding: 0 0 0.3em 0.3em;
      margin: 0;
      line-height: 1.1;
      text-indent: -0.3em;
      text-transform: uppercase;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }

  h1 {
    position: static;
    height: auto;
    // max-width:80%;
    margin: auto;
    margin-top: 1.7em;
    font-size: 2rem;

    &.title-top,
    &.title-bottom {
      position: static;
      display: block;
    }

    &.title-bottom {
      transform: rotate(0);
      position: static;
      padding: 0.5em;
    }

    &.fr {
      transform: rotate(0);

      .title-bottom {
        display: block;
      }

      .title-top {
        display: none;
      }
    }
  }

  h2 {
    font-size: 2em;
    line-height: 1;
  }

  h3 {
    padding-top: 1em;

    &.big-title {
      font-size: 3em;
    }
  }

  section {
    padding: 1rem;

    &#demands {
      min-height: 0;
      padding: 0;
    }
  }

  .container {
    width: 100%;
    padding: 0;
  }

  section.demand {
    padding-top: 3em;
  }

  .sticky {
    position: static;
  }

  #menu {
    padding: 1em;

    ul {
      column-count: 1;

      li {
        font-size: 5rem;
      }
    }

    iframe {
      display: none;
    }
  }

  // TODOs
  .members {
    thead {
      display: none;
    }

    tr {
      display: block;
      padding: 1em 0;
      border-bottom: 1px solid rgba($foreground, 0.3);
      height: auto;

      &:first-child {
        border-top: 1px solid rgba($foreground, 0.3);
      }

      &:first-child td {
        border: none;
      }
    }

    td {
      display: block;
      margin: 0;
      padding: 0;
      border: none;
      height: auto;

      &:first-child {
        padding: 0;
      }
    }
  }

  .partners {
    max-width: 100%;
  }
}

// fixes
$table-inner-margin: 1.75em;
$td-xsmall: 7.5em;
$td-small: 12em;
$td-medium: 17.5em;
$td-large: 25em;
$td-xlarge: 35em;

$table-side-padding: calc((100vw - #{$max-container-width}) / 2);

table {


  tr {
    > :first-child {
      padding-left: $table-side-padding;
      box-sizing: content-box;

      // TODO: breakpoint
      @media (min-width: 800px) {
        >* {
          padding-left: 2rem;
          padding-right: 0;
        }
      }
    }

    > :last-child {
      padding-right: $table-side-padding;
      box-sizing: content-box;

      // TODO: doesn't work when page-size is small
      >* {
        padding-right: 2rem;
      }
    }

    @media (min-width: 800px) {
      > :not(:first-child) {
        padding-left: 1.75rem;
      }

      > :not(:last-child) {
        padding-right: 1.75rem;
      }
    }
  }

  td {

    p,
    label,
    h3,
    h4 {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .row-expanded>td {
    border-bottom: none;
  }
}

.committee-table tr {
  > :first-child {
    width: $td-small;
  }
}

.collective-member-table tr {
  > :first-child {
    width: $td-small;
  }

  > :nth-child(2) {
    width: $td-small;
  }
}

.team-member-table {
  tr {
    > :first-child {
      width: $td-small;
    }

    > :nth-child(2) {
      width: $td-large;
    }

    > :last-child {
      width: $td-xsmall;
    }
  }

  &.hide-team {
    tr {
      > :first-child {
        width: $td-large;
      }

      > :nth-child(2) {
        width: initial;
      }

      > :last-child {
        width: $td-xsmall;
      }
    }
  }
}

.press-table {
  tr {
    > :nth-child(2) {
      width: $td-medium;
    }

    > :nth-child(3) {
      width: $td-medium;
    }

    > :nth-child(4) {
      width: $td-small;
    }

    img {
      max-width: 80%;
    }
  }
}

.event-table {
  tr {
    > :nth-child(2) {
      width: $td-medium;
    }

    > :nth-child(3) {
      width: $td-medium;
    }

    > :nth-child(4) {
      width: $td-xsmall;
    }

    img {
      max-width: 70%;
    }
  }
}

.event-tags {
  >label {
    margin-right: 0.5em;
  }
}

.spaced-content {
  >*:not(:last-child) {
    margin-bottom: 1em;
  }
}

.small-header {
  margin-top: 2.5em;
}

.actions li {
  >a {
    display: block;
    height: fit-content;
  }

  >p {
    margin: 0.5em 0 0;
  }
}

#contact .row {
  > :nth-child(2) {
    h3 {
      margin-bottom: 1em;
    }
  }

  > :last-child {
    p {
      margin-top: 1em;
    }
  }
}

.button-cell>div {
  display: flex;
  justify-content: flex-end;
}